body {
    font-family: Arial, sans-serif;
    background-image: url('bildfürwebseite.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.category {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: rgb(0, 0, 0); /* Setzt die Schriftfarbe der Kategorien auf schwarz */
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    font-size: 18px;
    margin: 5px;
}

.sub-category {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.category p {
    font-weight: bold;
    font-family: Arial, sans-serif;
}
