body {
    font-family: Arial, sans-serif;
    background-image: url('"C:\Users\ma2ia\OneDrive\Dokumente\Abschlussarbeit 2025\Projektcode\Bild Webseite.jpg"');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: rgb(25, 24, 138); /* Setzt die Schriftfarbe */
}

.category {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: rgb(0, 0, 0); /* Setzt die Schriftfarbe der Kategorien auf schwarz */
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    font-size: 18px;
    margin: 5px;
}

.sub-category {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.category p {
    font-weight: bold;
    font-family: Arial, sans-serif;
}
